
/* styles/SearchResultItem.module.css */
.searchResultItem {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.searchResultItem:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
}

.content h3 {
  margin: 0;
}
